
TCC/2º Encontro/PSystem.ldb
TCC/5º Encontro/Prototipo/.vs/config/applicationhost.config
TCC/5º Encontro/Prototipo/.vs/Prototipo/v15/.suo
TCC/5º Encontro/Prototipo/.vs/slnx.sqlite
TCC/5º Encontro/Prototipo/.vs/VSWorkspaceState.json
TCC/5º Encontro/~$system.doc
